<!-- Template: .Task -->

<div class="Task">
  <div class="Task-textWrapper js-update">
    <input class="Task-text js-input" type="text" placeholder="Write a task here…">
  </div>
  <div class="Task-textWrapper js-read">
    <p class="Task-text js-lbl"></p>
  </div>
  <div class="Task-comments"></div>
</div>

<!-- Template: .TaskV -->

<div class="Task">
  <div class="Task-textWrapper js-update" v-show="updMode">
    <input class="Task-text js-input" type="text" placeholder="Write a task here…" v-model="label">
  </div>
  <div class="Task-textWrapper js-read" v-on:click="select()" v-show="!updMode">
    <p class="Task-text js-lbl">{{ label }}</p>
  </div>
  <div class="Task-comments" v-bkb-component="CommentList"></div>
</div>