@charset "UTF-8";
@import "../defs/defs";

.ob-pageTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: $space2;
  text-align: center;
}

.ob-btn {
  @include gradient(#AAA);
  color: #FFF;
  font-weight: bold;
  min-height: 26px;
  min-width: 80px;
  text-align: center;
}

body {
  background-color: #DED;
}

dialog {
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
}

.AppWrapper {
  background-color: #FFF;
  margin: 0 auto;
  max-width: 500px;
  min-height: 200px;
  padding: 50px 80px;
}

.Form {
  &-fields {

  }
  &-btnBar {
    margin-top: $space1;
    text-align: center;
  }
}

.Field {
  display: block;
  margin-bottom: $space1;
  &-lbl {
    display: inline-block;
    margin-right: 20px;
    &.top {
      display: block;
      margin: 0 0 4px 0;
    }
  }
  &-input {
    min-width: 320px;
  }
  &-textarea {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
}
