.idea
node_modules
*.js
!*.min.js
!*-min.js
!ie8-shim.js
woc*.min.js
*.map
*.css
_wocscripts/releases

/*-?.??.?
/*.wocb
!/woc
!/misc
!/ext.wocb
!/todos.wocb
!/ie8-test.wocb

!woc/lib/*
!dialog-polyfill*
!handlebars*
!vue*.js

!misc/jQueryUI.wocl/smoothness/*.css

w-sync.json
index?*.html
