.idea
node_modules
*.js
!*.min.js
!*-min.js
!ie8-shim.js
woc*.min.js
*.map
*.css
_scripts/releases

/*-?.??.?
/*.wocb
!/woc
!/test.wocb
!/ie8-test.wocb
!/myproject.wocb

!woc/lib/*
!dialog-polyfill*
!handlebars*
!vue*.js

!test.wocb/lib.wocb/jQueryUI.woce/smoothness/*.css

w-sync.json
index?*.html
