$c1: 94px;
$c2: 212px;
$c3: 330px;
$c4: 448px;
$c5: 566px;
$c6: 684px;
$c7: 802px;
$c8: 920px;
$c9: 1038px;
$c10: 1156px;
$c11: 1274px;

$g: 24px;
$c1g: 118px;
$c2g: 236px;
$c3g: 354px;
$c4g: 472px;
$c5g: 590px;
$c6g: 708px;
$c7g: 826px;
$c8g: 944px;
$c9g: 1062px;
$c10g: 1180px;
$c11g: 1298px;

$f6: 0.375em;
$f7: 0.4375em;
$f8: 0.5em;
$f9: 0.5625em;
$f10: 0.625em;
$f11: 0.6875em;
$f12: 0.75em;
$f13: 0.8125em;
$f14: 0.875em;
$f15: 0.9375em;
$f16: 1em;
$f17: 1.0625em;
$f18: 1.125em;
$f19: 1.1875em;
$f20: 1.25em;
$f21: 1.3125em;
$f22: 1.375em;
$f23: 1.4375em;
$f24: 1.5em;
$f25: 1.5625em;
$f26: 1.625em;
$f27: 1.6875em;
$f28: 1.75em;
$f29: 1.8125em;
$f30: 1.875em;
$f31: 1.9375em;
$f32: 2em;
$f33: 2.0625em;
$f34: 2.125em;
$f35: 2.1875em;
$f36: 2.25em;
$f37: 2.3125em;
$f38: 2.375em;
$f39: 2.4375em;
$f40: 2.5em;
$f41: 2.5625em;
$f42: 2.625em;
$f43: 2.6875em;
$f44: 2.75em;
$f45: 2.8125em;
$f46: 2.875em;
$f47: 2.9375em;
$f48: 3em;
$f49: 3.0625em;
$f50: 3.125em;

// Example:
// .MyComponent {
//   @media #{$mqMobile} {
//   }
// }

$black: #242021;

$mqMobile: "(max-width: " + ($c6 - 1px) + ")";
$mqTabletMax: "(max-width: " + ($c11 - 1px) + ")";
$mqTablet: "(min-width: " + $c6 + ") and (max-width: " + ($c11 - 1px) + ")";
$mqTabletMin: "(min-width: " + $c6 + ")";
$mqDesktop: "(min-width: " + $c11 + ")";
