@charset "UTF-8";

@mixin gradient($top, $bottom: lighten($top, 6%)) {
  background: $top;
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%);
  background: -ms-linear-gradient(top, $top 0%, $bottom 100%);
  background: -webkit-linear-gradient(top, $top 0%, $bottom 100%);
  background: linear-gradient(to bottom, $top 0%, $bottom 100%);
}

$space1: 10px;
$space2: 20px;
