.close-btn {
  background-color: rgba(100, 100, 100, 0.5);
  border: 1px solid rgba(100, 100, 100, 0.4);
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  padding: 0 2px 1px;
  position: absolute;
  right: 0;
  top: 0; }
