@charset "UTF-8";

// Reset CSS, based on the work of Eric Meyer: http://meyerweb.com/eric/tools/css/reset/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
button, a, abbr, address, cite, code, small,
dfn, img, kbd, q, samp, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

strong, em, ins, del, b, i, u, s {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

sub, sup {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Old browsers
article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section {
  display: block;
}

button {
  background: transparent;
  color: inherit;
  cursor: pointer;
  text-align: inherit;
}

input, textarea {
  margin: 0;
}
