@charset "UTF-8";
@import "../defs/defs";

.TodosList {
  &-li {
    background-color: #BBB;
    border-bottom: #EEE;
    color: #FFF;
    height: $r2;
    padding-left: 30px;
    position: relative;
    &:nth-child(even) {
      background-color: #CCC;
    }
  }
  &-editBtn {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: $f20;
    font-weight: bold;
    height: 100%;
    padding: 2px 8px;
    width: 100%;
    &:focus,
    &:hover {
      background-color: rgba(255, 255, 255, .4);
    }
  }
  &-rmBtn {
    font-size: $f32;
    font-weight: bold;
    height: 100%;
    left: 0;
    line-height: $r2;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
    &:focus,
    &:hover {
      background-color: rgba(255, 255, 255, .4);
    }
  }
  &-new {
    margin-top: $gap;
  }
}
