.Task {
  background-color: #CDE;
  height: 100px;
  padding-right: 40%;
  position: relative;
  &-textWrapper {
    padding: 10px;
  }
  &-text {
    height: 30px;
    width: 100%;
  }
  &-comments {
    bottom: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
  }
}