.dialog-area {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0; }

.main-dialog-area {
  background-color: rgba(152, 152, 152, 0.56); }

.short-dialog-area .dialog {
  background-color: #fffed6;
  box-shadow: 0 0 10px #aaaaaa;
  margin: 60px auto auto;
  padding: 30px;
  width: 600px; }
  .short-dialog-area .dialog p {
    max-height: 340px;
    overflow: auto; }
.short-dialog-area .info-dialog {
  background-color: #666;
  color: #fff; }
.short-dialog-area .warn-dialog {
  background-color: #a36d14;
  color: #fff; }
.short-dialog-area .err-dialog {
  background-color: #ddd;
  color: #ff0000; }
.short-dialog-area .message {
  font-weight: bold;
  text-align: center; }
.short-dialog-area .action-bar {
  margin-top: 20px;
  text-align: center; }
.short-dialog-area .info-dialog .simple-btn,
.short-dialog-area .warn-dialog .simple-btn,
.short-dialog-area .err-dialog .simple-btn {
  border: 1px solid #f38484;
  padding: 4px 10px; }
